.button {
  padding: 1.2rem 2rem;
  width: 90%;
  border: none;
  border-radius: 10px;
  background: #2a9d8f;
  font-family: "Unbounded", sans-serif;
  color: #eee;
  font-size: 1.2rem;
}

.button:hover {
  cursor: pointer;
  background: #23877c;
  transition: all ease-in 1s;
}
